[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
psycopg = "*"
python-decouple = "*"
djangorestframework = "*"
markdown = "*"
black = "*"
django-extensions = "*"
ipython = "*"
coverage = "*"
drf-yasg = "*"

[dev-packages]

[requires]
python_version = "3.12"
